* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
  /* background: #83c8e4; */
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: #383d48;
}

.main-game {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  /* border: 4px dotted rgb(225, 17, 17); */
  background: #83c8e4;

  cursor: pointer;
}

.side-bar {
  border: 3px solid #3b3838;
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1rem;
  background-color: #3b3838;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tool-box {
  border: 1px dotted white;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 0.9rem;
  padding-left: 0.7rem;
}

.tool-box:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.tools-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.trash-amount {
  border: 1px solid white;
  text-align: center;
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.trash-amount:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.start-again {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.return-main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  font-weight: 800;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn-start {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.btn:hover {
  background-color: white;
  color: #3b3838;
  font-weight: 800;
  border: 1px solid #3b3838;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.all-btn {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.pickaxe {
  background: url("/assets/pickaxe.png") no-repeat center center/cover;
}

.shovel {
  background: url("/assets/shovel.png") no-repeat center center/cover;
}

.axe {
  background: url("/assets/axes.png") no-repeat center center/cover;
}

@media (min-width: 350px) and (max-width: 1500px) {
  .side-bar {
    background-color: #383d48;
    display: flex;
    gap: 0rem;
    border-left: 2px solid white;
  }
  .tools-div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .tool-box {
    border: 1px solid white;
  }

  .trash {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .all-btn {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: 0rem;
  }

  .btn {
    font-size: 0.5rem;
    border: 0rem;
    padding: 0.5rem;
  }

  .start-again {
    margin: 0.2rem;
    padding: 0rem;
    border: 1px solid white;
  }

  .return-main-screen {
    margin: 0.2rem;
    padding: 0rem;
    border: 1px solid white;
  }
}
